
/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_lagervarde]    Script Date: 2020-09-15 10:14:27 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
** Ver 2.0	201015, ny logik för Prio& borttagning av dubletter
------------------------------------------------------------------------------
tester:

drop table #vsar
exec q_zu_speedrecon_lagervarde 10,'ic','200531'
go
select * from q_zu_speedrecon_result where q_zu_speedrecon_descr = 'LAGVARDE' and foretagkod = 10and regdat >= '2020-06-04 00:00:00.000'
*/

CREATE PROCEDURE [dbo].[q_zu_speedrecon_lagervarde]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL
WITH ENCRYPTION
AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@Redar				SMALLINT,
	@period				SMALLINT,
	@today				DATETIME,
	@lagstalle			NVARCHAR(8)
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = Left(CONVERT(varchar,getdate(),120),10)
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT


	Declare crsXB cursor Fast_forward for
	SELECT 
		[xb].[lagstalle]
	FROM  [xb] WITH(READUNCOMMITTED)
	WHERE 
	[xb].[foretagkod]=@c_IntrnCoNo
 
  ORDER BY [xb].[lagstalle]
	open crsXB
	fetch next from crsXB into @lagstalle
	While @@fetch_status=0 
	begin
		
		--Print  'exec lagvarde ' + @lagstalle + ',' + convert(varchar,@period) + ', ' + convert(varchar,@redar) + ', ' +  @c_PersSign + ', NULL, ' + convert(varchar,@c_IntrnCoNo)
		execute lagvarde @lagstalle,@redar,@period,@c_PersSign ,NULL,@c_IntrnCoNo

		fetch next from crsXB into @lagstalle
	End
	Close crsXB deallocate crsXB
	/*** 200914, ny logik för Prio& borttagning av dubletter ********************************************************************************************************************************/
	declare @t1 table ( artnr varchar(35),
						ktonr varchar(8),
						ktobeskr varchar(50),
						reconamount money, 
						recondate datetime, 
						foretagkod smallint, 
						descr varchar(50),
						perssign varchar(8),
						vsar_prodkonto varchar(8),
						aklt_prodkonto varchar(8),
						vsar_lagstalle varchar(8), 
						aklt_lagstalle varchar(8),
						prio smallint)

	insert into @t1
	select Distinct vsar.ArtNr, aklt.ktonr,ko.ktobeskr,
		CASE arpk.mark_fifo
			WHEN 1 then PerUtgbatchvarde
			ELSE vsar.perutglagvardekalk
		END,
		@c_date	,
		vsar.ForetagKod,
		'LAGVARDE',
		@c_perssign,
		vsar.artprodkonto as artprodkonto_sars,aklt.artprodkonto as artprodkonto_aklt, vsar.lagstalle as sars_algstalle,aklt.lagstalle as aklt_lagstalle,0
	from vsar with (readuncommitted)
	join ar WITH(READUNCOMMITTED) on vsar.foretagkod=ar.foretagkod and vsar.artnr=ar.artnr
	join aklt with (readuncommitted) on 
        --prio 1 - prodkonto och lst
        vsar.foretagkod=aklt.foretagkod and vsar.redovisnar=aklt.redovisnar and vsar.lagstalle=aklt.lagstalle
        and vsar.artprodkonto=aklt.artprodkonto and aklt.lagtranstyp=0 and aklt.intfield=0
        --prio 2 - prodkonto
        or (vsar.foretagkod=aklt.foretagkod and vsar.redovisnar=aklt.redovisnar and vsar.artprodkonto=aklt.artprodkonto and aklt.lagtranstyp=0 and aklt.intfield=0)
        --prio 3 - lagstalle
        or (vsar.foretagkod=aklt.foretagkod and vsar.redovisnar=aklt.redovisnar and vsar.lagstalle=aklt.lagstalle and aklt.lagtranstyp=0 and aklt.intfield=0)
        --prio 4 - blankt                        
 		or(vsar.foretagkod=aklt.foretagkod and vsar.redovisnar=aklt.redovisnar and aklt.lagtranstyp=0 and aklt.intfield=0 
			and aklt.lagstalle is null and aklt.artprodkonto is null)  --200708
	join ko WITH(READUNCOMMITTED) on aklt.ForetagKod  = ko.ForetagKod and aklt.KtoNr =ko.KtoNr and ko.Redovisnar = @redar 
	join arpk on vsar.foretagkod=arpk.foretagkod and vsar.ArtProdKonto=arpk.ArtProdKonto  --200709
	where vsar.PeriodLagSaldo<>0
		and vsar.redovisnar>=@redar
		and vsar.period= @period
		and vsar.foretagkod = @c_IntrnCoNo
		
	ORDER by vsar.artnr,vsar.lagstalle
		
	UPDATE @t1 SET prio = 1 where vsar_lagstalle=aklt_lagstalle and vsar_prodkonto=aklt_prodkonto
	UPDATE @t1 SET prio = 2 where vsar_prodkonto=aklt_prodkonto and prio = 0	--221003 zujan - justering efter debug Mikael
	UPDATE @t1 SET prio = 3 where vsar_lagstalle=aklt_lagstalle and prio = 0
	UPDATE @t1 SET prio = 4 where prio = 0;

	--Select * from @t1 order by artnr;
	
	--rensa dublett med lägre prio

	WITH cte AS (
		SELECT 
			ktonr, 
			prio,
			artnr, 
			vsar_lagstalle
		 --   redovisnar, 
		--	period,
			foretagkod,
			reconamount,
		
			ROW_NUMBER() OVER (
				PARTITION BY 
					artnr, 
					--ktonr,
					vsar_lagstalle,
					--redovisnar, 
					--period,
					foretagkod,
					reconamount
					--prio
			
				ORDER BY 
					prio,ktonr
			) row_num
		 FROM 
			@t1
	)
	DELETE 
	FROM cte
	WHERE row_num > 1;

	
	---------------------------------------------------------------------------------------------------------------------
	   	 
		Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ktobeskr ,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod
			,q_zu_speedrecon_descr )
		select 
			ktonr,
			ktobeskr,
			SUM(reconamount ) ,
			@c_date,
			@c_perssign,
			foretagkod,
			'LAGVARDE'
			from @t1 
			group by ktonr,ktobeskr,foretagkod

		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
