/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_kundresk]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_kundresk 9900,'jis','180731'
select foretagkod,ftgnamn,* from sy1
select * from reav

Select reav.ktonrresksaldo, sum(reav.faktrestbel) 
from reav
Where reav.foretagkod=9900	---variabel
And reav.rowcreatedby='jis' ---sql-agentjobb användare
--And reav.regdat='20170704'---(datum som sql-agentjobbet körs)
And reav.krorlr=0
Group by reav.ktonrresksaldo

*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_kundresk]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@Redar				SMALLINT,
	@period					SMALLINT,
	@today				DATETIME
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = Left(CONVERT(varchar,getdate(),120),10)
	--print @today
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT

		--Print convert(varchar,@redar) + '' + convert(varchar,@period)

	Exec JEEVES_kr_sal_perden
			@PerDenDatum = @c_date ,
			@ForetagKod = @c_IntrnCoNo,
			@Visa_Fakturor = '*',
			@DebugMsg = NULL,
			@redovisnar = @redar,
			@Period = @period,
			@PersSign= @c_PersSign

			/*
			@PerDenDatum datetime=null,
			@ForetagKod smallint=null,
			@Visa_Fakturor char(1)=null,
								-- - => töm resultattabell (wfha)
								-- + => töm  samt skapa resultattabell (wfha)
								-- = => töm resultattabell (reav)
								-- * => töm  samt skapa resultattabell (reav)
								-- 1,x,y => sänd tillbaka varje faktura
								--           samt om DebugMsg = 'g' Group by för ISQL/w
			@DebugMsg char(1)=null,
								-- S = debug including select statements
			@RedovisnAr smallint=null,
			@Period smallint=null,
			@PersSign Jeeves_StrVarChar32=null,
			@urk Jeeves_StrVarChar10=null,
			@FtgNr JEEVES_CompanyNo=NULL
			ToSQL(DateToSQL(per.PeriodEnd))+','+
ToSQL(per.ForetagKod)+','+
ToSQL('+')+',NULL,'+
ToSQL(per.redovisnAr)+','+
ToSQL(per.Period)+','+
ToSQL(sy2.PersSign)+','+
ToSQL('+');*/
	
	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ktobeskr, 
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod
			,q_zu_speedrecon_descr )
	Select reav.ktonrresksaldo,ko.ktobeskr, isnull(sum(reav.faktrestbel),0) ,reav.RowUpdatedDt ,reav.perssign,reav.foretagkod,'KUNDRESK'
	from reav  WITH(READUNCOMMITTED)
	join ko WITH(READUNCOMMITTED) on reav.foretagkod = ko.foretagkod and reav.ktonrresksaldo = ko.ktonr and reav.RedovisnAr =ko.Redovisnar 
	Where reav.foretagkod=@c_IntrnCoNo	---variabel
		And reav.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		And reav.regdat=@today---(datum som sql-agentjobbet körs)
		And reav.krorlr=0
	Group by reav.ktonrresksaldo,ko.ktobeskr,reav.RowUpdatedDt ,reav.perssign,reav.foretagkod

	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and PersSign = @c_PersSign order by RowCreatedDt desc
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
