/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_lagerflytt]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_lagerflytt 9900,'jis','180731'
delete from q_zu_speedrecon_result

execute jeeves_Create_wPOTransit_PerDen
Resultatet läggs i tabell wpotransit
Där ska select göras för att använda i tabellen ovan.
Select wpotransit.ktonr, sum(wpotransit.diffpickedamtrecamt) from wpotransit
Where wpotransit.foretagkod=9900	---variabel
And wpotransit.rowcreatedby='jis' ---sql-agentjobb användare
And wpotransit.regdat='20170704'---(datum som sql-agentjobbet körs)
Group by wpotransit.ktonr

Uppdatera tabell enl ovan;
Wpotransit.ktonr=q..ktonr
Sum wpotransit.diffpickedamtrecamt=q..reconamount
Wpotransit.recondate= q..recondate





*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_lagerflytt]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@period					SMALLINT,
	@today				varchar(6),
	@Redar				SMALLINT

	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = CONVERT(varchar,getdate(),12)
	-- This is a one line comment, below is a block comment
	
	
	--print @today
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT




	 execute jeeves_Create_wPOTransit_PerDen
			@c_PerDenDatum = @c_date,
			@c_IntrnCoNo = @c_IntrnCoNo,
			@c_PersSign = @c_PersSign


	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ktobeskr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod 
			,q_zu_speedrecon_descr)
	Select wpotransit.ktonr, 
			ko.KtoBeskr,
			isnull(sum(wpotransit.diffpickedamtrecamt),0) ,
			ReconDate,
			wPOTransit.PersSign,
			wPOTransit.ForetagKod,
			'LAGFLYTT'
	from wpotransit WITH(READUNCOMMITTED)
		join ko WITH(READUNCOMMITTED) on wPOTransit.ForetagKod = ko.ForetagKod and wPOTransit.KtoNr = ko.ktonr and ko.Redovisnar = @redar --180916
	Where wpotransit.foretagkod=@c_IntrnCoNo	---variabel
		And wpotransit.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		And wpotransit.regdat=@today---(datum som sql-agentjobbet körs)
	Group by wpotransit.ktonr,ko.ktobeskr,ReconDate,
			wPOTransit.PersSign,
			wPOTransit.ForetagKod

--sp_help wpotransit
	--select regdat from reav where foretagkod = 9910
--	select * from wPOTransit 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
