/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_levresk]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_levresk 9900,'jis','180731'
delete from q_zu_speedrecon_result
select foretagkod,rowcreateddt,perssign,regdat,* from reav order by reav.rowcreateddt desc
delete from reav where foretagkod = 9900 and perssign = 'jis'
--uf_reavlr_create_ask
--reavlr
execute lr_sal_PerDen
Resultatet läggs i tabell reav.
Där ska select göras för att använda i tabellen ovan.
Select reav.ktonrresksaldo, sum(reav.faktrestbel) from reav
Where reav.foretagkod=9900	---variabel
And reav.rowcreatedby='jis' ---sql-agentjobb användare
And reav.regdat='2018-07-31'---(datum som sql-agentjobbet körs)
And reav.krorlr=1
Group by reav.ktonrresksaldo

And reav.krorlr=1

Uppdatera tabell enl ovan;
Reav.ktonrresksaldo=q..ktonr
Sum reav.faktrestbel=q..reconamount
Reav.rowupdatetdt= q..recondate

*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_levresk]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER		INTEGER,
	@catch_ERROR_MESSAGE	NVARCHAR(4000),
	@today					DATETIME
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	

	select @today = Left(CONVERT(varchar,getdate(),120),10)
	
	-- This is a one line comment, below is a block comment
	
	Exec [lr_sal_perden]
			@PerDenDatum = @c_date ,
			@ForetagKod = @c_IntrnCoNo,
			@PersSign= @c_PersSign,
			@LevLogg = '+',           --	+ = create working table REAV 
			@Swirre ='0'
	
	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ko.Ktobeskr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod
			,q_zu_speedrecon_descr )
	Select reav.ktonrresksaldo, 
			ko.KtoBeskr,
			isnull(-sum(reav.faktrestbel),0) ,
			reav.RowUpdatedDt ,
			reav.perssign,
			reav.foretagkod,
			'LEVRESK'
	from reav WITH (READUNCOMMITTED)
		join ko WITH(READUNCOMMITTED) on reav.ForetagKod =ko.ForetagKod and reav.KtoNrReskSaldo = ko.ktonr and reav.RedovisnAr = ko.Redovisnar 
	Where reav.foretagkod=@c_IntrnCoNo	---variabel
		And reav.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		And reav.regdat=@today---(datum som sql-agentjobbet körs)
		And reav.krorlr=1
	Group by reav.ktonrresksaldo,ko.ktobeskr,reav.RowUpdatedDt ,reav.perssign,reav.foretagkod

	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and PersSign = @c_PersSign
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
