/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_int_levresk]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_int_levresk 9900,'jis','180731'
select foretagkod,ftgnamn,* from sy1
select * from reav

execute lr_sal_PerDen
Resultatet läggs inte i någon tabell – utan proc blir select mot temptabell a.
Select a.ktonrinterimsbokning, sum (a.lravrktobel)

Uppdatera tabell enl ovan;
a.ktoninterimsbokning=q..ktonr
vbfaktrest Sum a.lravrktobel=q..reconamount
Ingående parameter i proc= q..recondate

*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_int_levresk]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000)
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	
	-- This is a one line comment, below is a block comment
	
			exec [q_zu_speedrecon_JEEVES_lr_AvrKto_Per] @c_date,
														@c_IntrnCoNo,
														@c_PersSign,
														'x'				--181125
	
	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
