/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_JEEVES_lr_AvrKto_Per]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/**
exec [q_zu_speedrecon_JEEVES_lr_AvrKto_Per] '180731',9900,'jis','x'
select * from q_zu_speedrecon_result order by rowcreateddt desc
***/
/***********************************/
CREATE procedure [dbo].[q_zu_speedrecon_JEEVES_lr_AvrKto_Per]
			@PerDenDatum datetime=null,
			@ForetagKod smallint=null,
			@perssign Jeeves_StrVarChar32=NULL,
			@LevLogg char(1)=null ,
			@c_Sum Jeeves_StrVarChar = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON

declare @Swirre char(1),
@x int,
@Slut_Ver_Dat Datetime,
@Slut_Ar smallint,
@Slut_Ver JEEVES_VchrNo,
@lr_akd_FtgNr Jeeves_StrVarChar256,
@lr_akd_BestRkgNr Jeeves_StrVarChar256,
@Ank_Sum JEEVES_Amount,
@Slut_Sum JEEVES_Amount
,@today datetime
,@redar INT --181125
,@period smallint


--181125 --------------	
	exec CalcPeriod
		@InpDat = @PerDenDatum,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @foretagkod,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT


select @Swirre='0'

/* Läs in Foretagkod om den är null */
if @ForetagKod is NULL
begin
	execute @x = JEEVES_ForetagKod @ForetagKod output
end

if @PerDenDatum is null
  select @PerDenDatum = getdate()

select @PerDenDatum = convert(char(8),@PerDenDatum,112)


declare @ax table
(
 FtgNr nvarchar(40) collate database_default null,
 BestRkgNr nvarchar(40) collate database_default null,
 KtoNrInterimsBokning nvarchar(30) collate database_default null,
 KstInterimsBokning nvarchar(30) collate database_default null,
 KBarInterimsBokning nvarchar(30) collate database_default null,
 K4InterimsBokning nvarchar(30) collate database_default null,
 K5InterimsBokning nvarchar(30) collate database_default null,
 K6InterimsBokning nvarchar(30) collate database_default null,
 K7InterimsBokning nvarchar(30) collate database_default null,
 KtoNrReskSaldo nvarchar(30) collate database_default null,
 VbFaktRest  money default 0,
 ValKod	nvarchar(6) collate database_default null,
 vb_faktsum money default 0 --,
 --Lr_AttestSign	nvarchar(60) collate database_default null
)

declare @a table
(
 FtgNr JEEVES_CompanyNo,        ---  nvarchar(40) collate database_default not null,    ---- prestanda problem se #518071 ( 2010-12-28 - simon )
 BestRkgNr Jeeves_StrVarChar64, ---  nvarchar(40) collate database_default not null,    ---- prestanda problem se #518071 ( 2010-12-28 - simon )
 LevFaktDat datetime not null,
 LrFaktFFDat datetime null,
 BokfDat datetime null,
 KtoNrInterimsBokning nvarchar(30) collate database_default null,
 KstInterimsBokning nvarchar(30) collate database_default null,
 KBarInterimsBokning nvarchar(30) collate database_default null,
 K4InterimsBokning nvarchar(30) collate database_default null,
 K5InterimsBokning nvarchar(30) collate database_default null,
 K6InterimsBokning nvarchar(30) collate database_default null,
 K7InterimsBokning nvarchar(30) collate database_default null,
 KtoNrReskSaldo nvarchar(30) collate database_default null,
 KstReskSaldo nvarchar(30) collate database_default null,
 LrAvrKtoBel money default 0,
 LrFaktBelBas money default 0,
 urk float default 0.0,
 EventRpEndDat datetime null,
 Ank_Ver_Dat datetime null,
 Ank_Ar smallint null,
 Ank_Ver JEEVES_VchrNo null,
 Ank_Sum money default 0,
 Slut_Ver_Dat datetime null,
 Slut_Ar smallint null,
 Slut_Ver JEEVES_VchrNo null,
 Slut_Sum money default 0,
 AutoRegel nvarchar(20) collate database_default null,
 LevKategori smallint null,
 IntField smallint default 0,
 ValKod	nvarchar(6) collate database_default null,
 vb_faktsum money default 0,
 Lr_AttestSign	nvarchar(60) collate database_default null,
 primary key(FtgNr,BestRkgNr) 
)

insert into @a(
         FtgNr,
         BestRkgNr,
         LevFaktDat,
         LrFaktFFDat,
         BokfDat,
         KtoNrInterimsBokning,
         KstInterimsBokning,
         KBarInterimsBokning,
         K4InterimsBokning,
         K5InterimsBokning,
         K6InterimsBokning,
         K7InterimsBokning,
         KtoNrReskSaldo,
         KstReskSaldo,
         LrAvrKtoBel,
         LrFaktBelBas,
         urk,
         EventRpEndDat,
         Ank_Ver_Dat,
         Ank_Ar,
         Ank_Ver,
         Ank_Sum,
         Slut_Ver_Dat,
         Slut_Ar,
         Slut_Ver,
         Slut_Sum,
         AutoRegel,
         LevKategori,
         IntField,
		 ValKod,
		 vb_faktsum,
		 Lr_AttestSign
)
select
         FtgNr,
         BestRkgNr,
         LevFaktDat,
         LrFaktFFDat,
         BokfDat,
         KtoNrInterimsBokning,
         KstInterimsBokning,
         KBarInterimsBokning,
         K4InterimsBokning,
         K5InterimsBokning,
         K6InterimsBokning,
         K7InterimsBokning,
         KtoNrReskSaldo,
         KstReskSaldo,
         LrAvrKtoBel,
         LrFaktBelBas,
         urk=convert(float,0),
         EventRpEndDat,
         Ank_Ver_Dat=BokfDat,
         Ank_Ar=RedovisnAr,
         Ank_Ver = CONVERT(INT,NULL), --VerNr,
         Ank_Sum=convert(money,0),
         Slut_Ver_Dat=CONVERT(DATETIME,NULL),
         Slut_Ar=CONVERT(SMALLINT,NULL),
         Slut_Ver=CONVERT(INT,NULL),
         Slut_Sum=convert(money,0),
         AutoRegel,
         LevKategori,
         IntField=CONVERT(SMALLINT,0),
		 ValKod,
		 vb_faktsum,
		 AttestSign
     from lr  WITH (nolock) 
     where
	LevFaktMakKod = '0' and not
	(isnull(UtbSlag,' ')='MAK' and EventRPEndDat <= @PerDenDatum) and   /* Tsk990610 /991103 */
	LevFaktStatKod<>'9' and
	ForetagKod=@ForetagKod and
	((EventRPEndDat is null or EventRPEndDat > @PerDenDatum) 
	or 
	(EventRpEndDat <= @PerDenDatum and levfaktstatkod=7))			
			



insert into @a(
         FtgNr,
         BestRkgNr,
         LevFaktDat,
         LrFaktFFDat,
         BokfDat,
         KtoNrInterimsBokning,
         KstInterimsBokning,
         KBarInterimsBokning,
         K4InterimsBokning,
         K5InterimsBokning,
         K6InterimsBokning,
         K7InterimsBokning,
         KtoNrReskSaldo,
         KstReskSaldo,
         LrAvrKtoBel,
         LrFaktBelBas,
         urk,
         EventRpEndDat,
         Ank_Ver_Dat,
         Ank_Ar,
         Ank_Ver,
         Ank_Sum,
         Slut_Ver_Dat,
         Slut_Ar,
         Slut_Ver,
         Slut_Sum,
         AutoRegel,
         LevKategori,
         IntField,
		 ValKod,
		 vb_faktsum,
		 Lr_AttestSign
)
select
         lr.FtgNr,
         lr.BestRkgNr,
         lr.LevFaktDat,
         lr.LrFaktFFDat,
         lr.BokfDat,
         lr.KtoNrInterimsBokning,
         lr.KstInterimsBokning,
         lr.KBarInterimsBokning,
         lr.K4InterimsBokning,
         lr.K5InterimsBokning,
         lr.K6InterimsBokning,
         lr.K7InterimsBokning,
         lr.KtoNrReskSaldo,
         lr.KstReskSaldo,
         lr.LrAvrKtoBel,
         lr.LrFaktBelBas,
         urk=convert(float,0),
         lr.EventRpEndDat,
         Ank_Ver_Dat = lr.BokfDat,
         Ank_Ar = lr.RedovisnAr,
         Ank_Ver = CONVERT(INT,NULL), --r.VerNr,
         Ank_Sum=convert(money,0),
         Slut_Ver_Dat=CONVERT(DATETIME,NULL),
         Slut_Ar=CONVERT(SMALLINT,NULL),
         Slut_Ver=CONVERT(INT,NULL),
         Slut_Sum=convert(money,0),
         lr.AutoRegel,
         lr.LevKategori,
         IntField=CONVERT(SMALLINT,0),
		 lr.ValKod,
		 lr.vb_faktsum,
		 lr.AttestSign
     from lr  WITH (nolock),att  WITH (nolock)where
     
	att.foretagkod = lr.foretagkod AND
	att.ftgnr = lr.ftgnr AND 
	att.bestrkgnr = lr.bestrkgnr AND 
	att.attestkod1=5 AND
	att.bokfdat > @perdendatum and
	lr.LevFaktMakKod = '0' and not	
	(isnull(lr.UtbSlag,' ')='MAK' and lr.EventRPEndDat <= @PerDenDatum) and 
	lr.LevFaktStatKod<>'9' and
	lr.ForetagKod=@ForetagKod
     and not ((lr.EventRPEndDat is null or lr.EventRPEndDat > @PerDenDatum) 
				or 
				(lr.EventRpEndDat <= @PerDenDatum and lr.levfaktstatkod=7)
				)			


/* Hämta in datum för ankomstattest */
update @a set Ank_Ver_Dat = vt.BokfDat,
              Ank_Ar = vt.RedovisnAr,
              Ank_Ver = vt.VerNr
           from @a a,att,vt where
           a.FtgNr = att.FtgNr and
           a.BestRkgNr = att.BestRkgNr and
           0 = att.AttestKod1 and
           vt.vtstatus=8 and
           att.RedovisnAr = vt.RedovisnAr and
           att.VerNr = vt.VerNr and
           att.ForetagKod=@ForetagKod and
           att.ForetagKod=vt.ForetagKod


/* Hämta in datum för slutattest */
update  @a set Slut_Ver_Dat = vt.BokfDat,
               Slut_Ar = vt.RedovisnAr,
               Slut_Ver = vt.VerNr
           from @a a,att,vt where
           a.FtgNr = att.FtgNr and
           a.BestRkgNr = att.BestRkgNr and
           att.RedovisnAr = vt.RedovisnAr and
           att.VerNr = vt.VerNr and
           vt.vtstatus=8 and
           att.ForetagKod=@ForetagKod and
           att.ForetagKod=vt.ForetagKod and
           (att.attestkod1 = 1 or att.AttestKod1=5) and
           att.attestKod1 = 	(select max(AttestKod1) from att,vr where
                             	a.FtgNr = att.FtgNr and
                             	a.BestRkgNr = att.BestRkgNr and
                            	a.FtgNr = vr.FtgNr and
                             	a.BestRkgnr = vr.BestRkgNr and
                             	att.redovisnar = vr.redovisnar and
                             	att.vernr = vr.Vernr and
                             	vr.ForetagKod = @ForetagKod and
           				(att.attestkod1 = 1 or att.AttestKod1=5) and
                             	vr.KtoTyp = 201 and
                             	(vr.debbel+vr.kreBel)<>0 and
                             	att.ForetagKod = @ForetagKod) and
           att.RadPos =  (select max(att.RadPos) from att,vr where
                             	a.FtgNr = att.FtgNr and
                             	a.BestRkgNr = att.BestRkgNr and
                             	a.FtgNr = vr.FtgNr and
                             	a.BestRkgnr = vr.BestRkgNr and
                             	att.redovisnar = vr.redovisnar and
                             	att.vernr = vr.Vernr and
                             	vr.ForetagKod = @ForetagKod and
           				(att.attestkod1 = 1 or att.AttestKod1=5) and
                             	vr.KtoTyp = 201 and
                             	(vr.debbel+vr.kreBel)<>0 and
                             	att.ForetagKod = @ForetagKod)                  

/** Zumad borttagning 181125

if @LevLogg='y' or
   @LevLogg='Y' or
   @LevLogg='x' or
   @LevLogg='X' or
   @LevLogg='j' or
   @LevLogg='J'
begin
   select * from @a
end

*******/
delete from @a where
(
	EventRpEndDat < @PerDenDatum and
       LrAvrKtoBel = 0 and
       Ank_Ver_Dat < @PerDenDatum and
       (Slut_Ver_Dat < @PerDenDatum)
)
or
(
       (EventRpEndDat is NULL or EventRpEndDat > @PerDenDatum) and
       LrAvrktoBel = 0 and
       Ank_Ver_Dat > @PerDenDatum and
       (Slut_Ver_Dat is NULL or Slut_Ver_Dat > @PerDenDatum)
)
or
(
       Ank_Ver_Dat > @PerDenDatum and
       (Slut_Ver_Dat is NULL or Slut_Ver_Dat > @PerDenDatum)
)



     
Declare lr_akd_cursor cursor local static forward_only read_only for
		
Select  FtgNr,BestRkgNr	from @a 
				
				
open lr_akd_cursor

While 1=1 
Begin

	Fetch next from lr_akd_cursor into
			@lr_akd_Ftgnr,
			@lr_akd_BestRkgNr
			
	if @@Error <> 0 BREAK
	if @@Fetch_Status <> 0 BREAK
		
	select @Ank_Sum = coalesce((select SUM(vr1.DebBel-vr1.KreBel) from @a as a, vr as vr1 WITH (ReadUnCommitted)  
	where 	a.Ank_Ar = vr1.Redovisnar and
			a.Ank_Ver = vr1.VerNr and
			a.FtgNr = @lr_akd_Ftgnr and
			a.BestRkgNr = @lr_akd_BestRkgNr and
			vr1.ForetagKod = @ForetagKod and
			vr1.BokfDat <= @PerDenDatum and
			vr1.KtoTyp = 201),0) 

	select @Slut_Sum = coalesce((select SUM(vr2.DebBel-vr2.KreBel) from @a as a, vr as vr2 WITH (ReadUnCommitted) 
	where 	a.Slut_Ar = vr2.Redovisnar and
			a.Slut_Ver = vr2.VerNr	and
			a.FtgNr = @lr_akd_Ftgnr and
			a.BestRkgNr = @lr_akd_BestRkgNr and
			vr2.ForetagKod = @ForetagKod and
			vr2.KtoTyp = 201 and
			vr2.BokfDat <= @PerDenDatum),0)
			
	select @Slut_Sum  = SUM(vr.Debbel- vr.Krebel)
		from @a as a,att,vr,vt where
		a.FtgNr = att.FtgNr and
		a.BestRkgNr = att.BestRkgNr and
		a.FtgNr = @lr_akd_Ftgnr and
		a.BestRkgNr = @lr_akd_BestRkgNr and
		att.RedovisnAr = vt.RedovisnAr and 
		att.VerNr = vt.VerNr and
		vt.vtstatus = 8 and
		vr.ForetagKod = vt.ForetagKod and
		vr.RedovisnAr = vt.RedovisnAr and
		vr.VerNr = vt.VerNr and
		vr.BokfDat <= @PerDenDatum and
		vt.vtstatus=8 and
		att.ForetagKod = @ForetagKod  and
		att.ForetagKod = vt.ForetagKod and
		(att.attestkod1 = 1 or att.AttestKod1=5) and
		vr.KtoTyp = 201 and
		(vr.debbel - vr.kreBel)<>0  
	
	if @Slut_Sum  is null select @Slut_Sum  = 0 
	if @Ank_Sum is null select @Ank_Sum = 0	
		
		
	update @a 
	set 	Ank_Sum 	= @Ank_Sum, 
		Slut_Sum 	= @Slut_Sum
	where 
		FtgNr 	= @lr_akd_Ftgnr and
		BestRkgNr = @lr_akd_BestRkgNr 


end --while 1=1 
    
close lr_akd_cursor
deallocate lr_akd_cursor


delete from @a
where Ank_Sum+Slut_Sum = 0
               
update @a 
set LrAvrKtoBel = Ank_Sum+Slut_Sum


if @LevLogg='y' or
   @LevLogg='Y' or
   @LevLogg='x' or
   @LevLogg='X' or
   @LevLogg='j' or
   @LevLogg='J'
begin

--   select * from @a
   --select ktonrinterimsbokning,sum(lravrktobel) from @a group by ktonrinterimsbokning

   Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			q_zu_speedrecon_descr,
			ktobeskr ,
			perssign,
			foretagkod )   
	Select  a.KtoNrInterimsBokning,
			isnull(sum(lravrktobel),0),
		   @PerDenDatum,
		   'INTLEVRESK',
		   ko.KtoBeskr ,
		   @perssign,
		   @ForetagKod
	from @a a 
		join ko on ko.ForetagKod = @ForetagKod and ko.Redovisnar = @redar and ko.ktonr = a.KtoNrInterimsBokning
	group by ktonrinterimsbokning,ko.ktobeskr
end


/*****

KtoNrInterimsBokning
KstInterimsBokning
FtgNr
BestRkgNr
LevFaktDat
OldVerNr
LrAvrKtoBel

*****/

if @c_Sum is null
begin

	if dbo.Jeeves_FN_RT_VchrNo( 1) = 0 
	begin
	Set @today = getdate()
	/*
		select
		fr.FtgNamn,
		a.Lr_AttestSign,
		a.BestRkgNr,
		ForetagKod = @ForetagKod,
		a.FtgNr,		
		a.K4InterimsBokning,
		a.K5InterimsBokning,
		a.K6InterimsBokning,
		a.K7InterimsBokning,
		a.KBarInterimsBokning,
		a.KstInterimsBokning,
		a.KtoNrInterimsBokning,
		a.LevFaktDat,
		a.LrAvrKtoBel,
		a.LrFaktFFDat,
		OldVerNr=a.Ank_Ver,		
		Prioritet=a.IntField,
		a.ValKod,
		a.vb_faktsum
		
		
		from @a a, fr WITH (ReadUnCommitted)  where
		a.FtgNr = fr.FtgNr and
		fr.ForetagKod = @ForetagKod 
		order by a.KtoNrInterimsBokning,
				a.KstInterimsBokning,
				a.KBarInterimsBokning,
				a.K4InterimsBokning,
				a.K5InterimsBokning,
				a.K6InterimsBokning,
				a.K7InterimsBokning,
				a.FtgNr,
				a.BestRkgNr
				*/
	end else begin

	set @today = getdate()
	/*
		select
		fr.FtgNamn,
		a.Lr_AttestSign,
		a.BestRkgNr,
		ForetagKod = @ForetagKod,
		a.FtgNr,		
		a.K4InterimsBokning,
		a.K5InterimsBokning,
		a.K6InterimsBokning,
		a.K7InterimsBokning,
		a.KBarInterimsBokning,
		a.KstInterimsBokning,
		a.KtoNrInterimsBokning,
		a.LevFaktDat,
		a.LrAvrKtoBel,
		a.LrFaktFFDat,
		OldVerNr=cast( a.Ank_Ver as varbinary(20) ),		
		Prioritet=a.IntField,
		a.ValKod,
		a.vb_faktsum
		
		
		from @a a, fr WITH (ReadUnCommitted)  where
		a.FtgNr = fr.FtgNr and
		fr.ForetagKod = @ForetagKod 
		order by a.KtoNrInterimsBokning,
				a.KstInterimsBokning,
				a.KBarInterimsBokning,
				a.K4InterimsBokning,
				a.K5InterimsBokning,
				a.K6InterimsBokning,
				a.K7InterimsBokning,
				a.FtgNr,
				a.BestRkgNr
	*/
end
end else 
begin

if @c_Sum='1'
begin	
Print 'Zeeu 3'
	insert into @ax (KBarInterimsBokning,K4InterimsBokning,K5InterimsBokning,K6InterimsBokning,
			K7InterimsBokning,KstInterimsBokning,KtoNrInterimsBokning,VbFaktRest)
	select 
       a.KBarInterimsBokning,
       a.K4InterimsBokning,
       a.K5InterimsBokning,
       a.K6InterimsBokning,
       a.K7InterimsBokning,
       a.KstInterimsBokning,
       a.KtoNrInterimsBokning,
       sum(a.LrAvrKtoBel) as 'LrAvrKtoBel'
       from @a a 
       Group  by 
		a.KtoNrInterimsBokning,
		a.KstInterimsBokning,
		a.KBarInterimsBokning,
		a.K4InterimsBokning,
		a.K5InterimsBokning,
		a.K6InterimsBokning,
		a.K7InterimsBokning

		--select * from @ax
    /*181025            
	select
       a.BestRkgNr,
       ForetagKod = @ForetagKod,
       a.FtgNr,
       a.KBarInterimsBokning,
       a.K4InterimsBokning,
       a.K5InterimsBokning,
       a.K6InterimsBokning,
       a.K7InterimsBokning,
       a.KstInterimsBokning,
       a.KtoNrInterimsBokning,
       a.VbFaktRest
       from @ax a 
	order by a.FtgNr,a.BestRkgNr,a.KtoNrInterimsBokning,
                a.KstInterimsBokning,
                a.KBarInterimsBokning,
                a.K4InterimsBokning,
                a.K5InterimsBokning,
                a.K6InterimsBokning,
                a.K7InterimsBokning  
				*/     
end        

if @c_Sum='0'
begin	
	print 'Zeeu 4'
	insert into @ax (KBarInterimsBokning,K4InterimsBokning,K5InterimsBokning,K6InterimsBokning,
			K7InterimsBokning,KstInterimsBokning,KtoNrInterimsBokning,VbFaktRest)
	select 
       null, --a.KBarInterimsBokning,
       null, --a.K4InterimsBokning,
       null, --a.K5InterimsBokning,
       null, --a.K6InterimsBokning,
       null, --a.K7InterimsBokning,
       null, --a.KstInterimsBokning,
       a.KtoNrInterimsBokning,
       sum(a.LrAvrKtoBel) as 'LrAvrKtoBel'
       from @a a 
       Group  by 
		a.KtoNrInterimsBokning

--Zumad 180905

Print 'Zeeu 5'

    Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod )   
	Select  a.KtoNrInterimsBokning,
	       a.VbFaktRest,
		   @PerDenDatum,
		   @perssign,
		   @ForetagKod
	from @ax a 
	order by a.FtgNr,a.BestRkgNr,a.KtoNrInterimsBokning,
                a.KstInterimsBokning,
                a.KBarInterimsBokning,
                a.K4InterimsBokning,
                a.K5InterimsBokning,
                a.K6InterimsBokning,
                a.K7InterimsBokning       

	/*select
       a.BestRkgNr,
       ForetagKod = @ForetagKod,
       a.FtgNr,
       a.KBarInterimsBokning,
       a.K4InterimsBokning,
       a.K5InterimsBokning,
       a.K6InterimsBokning,
       a.K7InterimsBokning,
       a.KstInterimsBokning,
       a.KtoNrInterimsBokning,
       a.VbFaktRest
       from @ax a 
	order by a.FtgNr,a.BestRkgNr,a.KtoNrInterimsBokning,
                a.KstInterimsBokning,
                a.KBarInterimsBokning,
                a.K4InterimsBokning,
                a.K5InterimsBokning,
                a.K6InterimsBokning,
                a.K7InterimsBokning       
		*/
end        
                
end
GO
