/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_pia]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_pia 9900,'jis','180731'
select foretagkod,ftgnamn,* from sy1

execute jeeves_th_sal_PerDen
Resultatet läggs i tabell wtha
Där ska select göras för att använda i tabellen ovan.
Select wtha.ktonr, sum(wtha.debcresumamt) from wtha
Where wtha.foretagkod=9900	---variabel
And wtha.rowcreatedby='jis' ---sql-agentjobb användare
And wtha.regdat='20170704'---(datum som sql-agentjobbet körs)
And wtha.ktonr= q_zeeu_speedrecon.Q_zeeu_speedrecon_acctwip
Group by wtha.ktonr

Uppdatera tabell enl ovan;
Wtha.ktonr=q..ktonr
Sum wtha.debcresumamtt=q..reconamount
Wtha.recondate= q..recondate






*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_pia]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_fromdat				DATETIME = NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER		INTEGER,
	@catch_ERROR_MESSAGE		NVARCHAR(4000),
	@period					SMALLINT,
	@aklt_ktonr				NVARCHAR(8),	--181012
	@today					DATETIME,		--181110
	@redar					SMALLINT
	--sp_help aklt
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	Set @today = convert(varchar,GETDATE(),112)
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT
	 
	 execute jeeves_th_sal_PerDen
				@c_PerDenDatum =@c_date,
				@c_ForetagKod = @c_IntrnCoNo,
				@c_Visa_AONr='+',
								-- - => töm resultattabell (winv)
								-- + => töm  samt skapa resultattabell (winv)
								--           samt om DebugMsg = 'g' Group by för ISQL/w
				@c_Perssign = @c_PersSign

	--181012, framsäkning PIA-konto
	IF EXISTS(Select 1 from aklt where  foretagkod=@c_IntrnCoNo and aklt.redovisnar=@redar and aklt.lagtranstyp = 0 AND aklt.intfield = 5)
	BEGIN
		select @aklt_ktonr =ktonr 
		from aklt with(readuncommitted)
		where foretagkod=@c_IntrnCoNo and
			aklt.redovisnar=@redar and
			aklt.lagtranstyp = 0 AND 
			aklt.intfield = 5
	END

	IF EXISTS( SELECT 1 from aklt where foretagkod=@c_IntrnCoNo and	aklt.redovisnar=@redar and aklt.lagtranstyp = 120 AND aklt.intfield = 5)
	BEGIN
		select @aklt_ktonr =ktonr 
		from aklt with(readuncommitted)
		where foretagkod=@c_IntrnCoNo and
			aklt.redovisnar=@redar and
			aklt.lagtranstyp = 120 AND 
			aklt.intfield = 5
	END

	--print 'PIA - indetifierat ktonr = ' + convert(varchar,isnull(@aklt_ktonr,0))
	--select * from @aklt
	--print 'Datum = ' + convert(varchar,@c_date)
/*	Select wtha.ktonr, 
		sum(wtha.debcresumamt) ,
		wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod
	from wtha
		join q_zu_speedrecon q on wtha.ForetagKod = q.foretagkod --And wtha.ktonr= @aklt_ktonr--q.Q_zu_speedrecon_acctwip    --181110
	Where wtha.foretagkod=@c_IntrnCoNo	---variabel
	And wtha.rowcreatedby=@c_PersSign ---sql-agentjobb användare
	--And wtha.regdat=@c_date---
	And wtha.regdat=@today---(datum som sql-agentjobbet körs)	--181110
	--And wtha.ktonr= q.Q_zeeu_speedrecon_acctwip     -- ZUmad Ersatt 181012
	And wtha.ktonr= @aklt_ktonr							--Zumad 181012
	
	Group by wtha.ktonr,	wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod
	*/
	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod,
			ko.ktobeskr,
			q_zu_speedrecon_descr )
	Select wtha.ktonr, 
		isnull(sum(wtha.debcresumamt),0) ,
		wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod,
		ko.ktobeskr,
		'PIA'
	from wtha
		--join q_zu_speedrecon q on wtha.ForetagKod = q.foretagkod --And wtha.ktonr= @aklt_ktonr--q.Q_zu_speedrecon_acctwip   --jonas 210609 borttagen pga fel Kasthall --181110
		join ko on wtha.foretagkod = ko.foretagkod and wtha.ktonr = ko.ktonr and wtha.Redovisnar = ko.Redovisnar 
	Where wtha.foretagkod=@c_IntrnCoNo	---variabel
	And wtha.rowcreatedby=@c_PersSign ---sql-agentjobb användare
	--And wtha.regdat=@c_date---
	And wtha.regdat=@today---(datum som sql-agentjobbet körs)  --181110
	--And wtha.ktonr= q.Q_zeeu_speedrecon_acctwip     -- ZUmad Ersatt 181012
	And wtha.ktonr= @aklt_ktonr							--Zumad 181012
	
	Group by wtha.ktonr,	wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod,
		ko.ktobeskr
/*
		Select wtha.ktonr, 
		sum(wtha.debcresumamt) ,
		wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod
	from wtha
	join q_zu_speedrecon q on wtha.ForetagKod = q.foretagkod And wtha.ktonr= q.Q_zu_speedrecon_acctwip
	Where wtha.foretagkod=@c_IntrnCoNo	---variabel
	And wtha.rowcreatedby=@c_PersSign ---sql-agentjobb användare
	And wtha.regdat=@c_date---(datum som sql-agentjobbet körs)
	--And wtha.ktonr= q.Q_zeeu_speedrecon_acctwip     -- ZUmad Ersatt 181012
	And wtha.ktonr= @aklt_ktonr							--Zumad 181012
	
	Group by wtha.ktonr,	wtha.Recondate,
		wtha.PersSign,
		wtha.ForetagKod

		*/

	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result order bu rowcreateddet desc
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
