/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_START]    Script Date: 9/29/2022 10:52:21 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

--220929, tillägg hantering LEGO

CREATE PROCEDURE [dbo].[q_zu_speedrecon_START]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,    --recondate
			@c_now					BIT =NULL,    --execdate

			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS


SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@today	datetime,
	@execdate datetime,
	@recondate datetime,
	--@c_IntrnCoNo smallint,
	@q_zu_speedrecon_kundresk char(1),
    @q_zu_speedrecon_levresk  char(1),
    @q_zu_speedrecon_anlag char(1),
    @q_zu_speedrecon_inlevejfakt char(1),
    @q_zu_speedrecon_intlevresk char(1),
    @q_zu_speedrecon_lager char(1),
    @q_zu_speedrecon_lagerflytt char(1),
    @q_zu_speedrecon_orderunikt char(1),
    @q_zu_speedrecon_per char(1),
    @q_zu_speedrecon_pia char(1),
    @q_zu_speedrecon_utlevejfakt char(1),
	@jvss_CUSTOM_SPEEDRECON_01 char(1),
	@result					nvarchar(max),
	@sum money,
	@ktonr nvarchar(8),
	@allcmp char(1),
	@sql varchar(500),
	@Redar					SMALLINT,		--190207
	@period					SMALLINT,	--190207
	@redar_start			datetime				--190207

	
	--print convert(varchar,@c_date,12)
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	

	--CUSTOM_SPEEDRECON_01
	/*	@c_IntrnCoNo smallint,
		@c_ParamName Jeeves_StrVarChar32,
		@c_ParamType Jeeves_StrVarChar16 = '',
		@c_Default Jeeves_StrVarChar128 = null
	*/
SET @jvss_CUSTOM_SPEEDRECON_01 = dbo.Jeeves_FN_GetParam(@c_IntrnCoNo,'CUSTOM_SPEEDRECON_01','B','0')
if @jvss_CUSTOM_SPEEDRECON_01 is NULL 
   SET @jvss_CUSTOM_SPEEDRECON_01 = '0'


--Print @jvss_CUSTOM_SPEEDRECON_01
	
If @jvss_CUSTOM_SPEEDRECON_01 = '1'
BEGIN--JVSP


	--190208

	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT


	--set @sql = 'from q_zu_speedrecon where foretagkod = ' + convert(varchar, @c_IntrnCoNo) + '	and perssign = ' +	@c_PersSign	+ ' and q_zu_speedrecon_execdate = ' + convert(varchar,@c_date,12)
	--print @sql

	--Select @allcmp = isnull(q_zu_speedrecon_allcmp,'0') from q_zu_speedrecon where foretagkod = @c_IntrnCoNo	and perssign = 	@c_PersSign	and q_zu_speedrecon_recondate = @c_date
	
	--IF @allcmp = 0
	--BEGIN--CMP
	IF (SELECT CURSOR_STATUS('global','crsSpeed')) >=0 
		BEGIN
		CLOSE crsSpeed
		DEALLOCATE crsSpeed
	END
	--select * from q_zu_speedrecon
	select @today = left(convert(varchar,GETDATE(),120),10) + ' 00:00:00.000'
	/*
	IF not exists (select  1 from q_zu_speedrecon where q_zu_speedrecon_execdate = @today)
	BEGIN
		Print 'Ingen körning registrerad på dagens datum!'
	END
	*/
	Declare crsSpeed cursor Fast_forward for
	select  q_zu_speedrecon_execdate,
		q_zu_speedrecon_recondate,
	  isnull(q_zu_speedrecon_kundresk,'0')
      ,isnull(q_zu_speedrecon_levresk,'0')
      ,isnull(q_zu_speedrecon_anlag,'0')
      ,isnull(q_zu_speedrecon_inlevejfakt,'0')
      ,isnull(q_zu_speedrecon_intlevresk,'0')
      ,isnull(q_zu_speedrecon_lager,'0')
      ,isnull(q_zu_speedrecon_lagerflytt,'0')
      ,isnull(q_zu_speedrecon_orderunikt,'0')
      ,isnull(q_zu_speedrecon_per,'0')
      ,isnull(q_zu_speedrecon_pia,'0')
      ,isnull(q_zu_speedrecon_utlevejfakt,'0')
	from q_zu_speedrecon
	where (q_zu_speedrecon_execdate = @today) or (@c_now =1 and q_zu_speedrecon_recondate = @c_date and perssign = @c_PersSign and foretagkod = @c_IntrnCoNo)
	open crsSpeed
	fetch next from crsSpeed into  @execdate,@recondate,@q_zu_speedrecon_kundresk, @q_zu_speedrecon_levresk, @q_zu_speedrecon_anlag,@q_zu_speedrecon_inlevejfakt,
    @q_zu_speedrecon_intlevresk, @q_zu_speedrecon_lager,    @q_zu_speedrecon_lagerflytt, @q_zu_speedrecon_orderunikt, @q_zu_speedrecon_per,
    @q_zu_speedrecon_pia, @q_zu_speedrecon_utlevejfakt
	While @@fetch_status=0 
	begin
		--print 'Post hittad med dagens datum: '+ convert(varchar,@recondate,12)
		--rensa gamla resultat för aktuell Perssign/Avstämningsdatum
		
		--Print 'Execution date : ' + convert(varchar, @execdate,12) 
  		--Print @q_zu_speedrecon_kundresk
		If @q_zu_speedrecon_kundresk = '1'
		Begin
			--Print 'Kundresk'
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'KUNDRESK')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'KUNDRESK'
		
			exec q_zu_speedrecon_kundresk @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		If @q_zu_speedrecon_levresk = '1'
		Begin
			--Print 'Levresk'
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LEVRESK')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LEVRESK'
		
			exec q_zu_speedrecon_levresk @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_anlag= '1'
		Begin
			--Print 'Anläggning'
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'ANLAG')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'ANLAG'
			--190207
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'AVSKR')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'AVSKR'
			

			exec q_zu_speedrecon_anlaggning @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_inlevejfakt= '1'
		Begin
			--Print 'Inlev. Ej fakturerat'
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'INLEVEJFAKT')
				Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'INLEVEJFAKT'
		
			exec q_zu_speedrecon_inlevejfakt @c_IntrnCoNo,@c_PersSign,@recondate
			--220929 ------------------------------------
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LEGO')
				Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LEGO'
		
			exec q_zu_speedrecon_lego @c_IntrnCoNo,@c_PersSign,@recondate

		End 
    
		If @q_zu_speedrecon_intlevresk= '1'
		Begin
			--Print 'Levresk. interim'
			IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'INTLEVRESK')
				Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'INTLEVRESK'
		
			exec q_zu_speedrecon_int_levresk  @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_lager= '1'
		Begin
			--Print 'Lagervärde'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LAGVARDE')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LAGVARDE'
		
			exec q_zu_speedrecon_lagervarde @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_lagerflytt= '1'
		Begin
			--Print 'lagerflytt'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LAGFLYTT')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'LAGFLYTT'
		
			exec q_zu_speedrecon_lagerflytt @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_orderunikt= '1'
		Begin
			--Print 'Orderunik'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'ORDERUNIK')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'ORDERUNIK'
		
			exec q_zu_speedrecon_orderunik @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_per= '1'
		Begin
			--Print 'Periodisering'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'PERIOD')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'PERIOD'
		
			exec q_zu_speedrecon_periodisering @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_pia= '1'
		Begin
			--Print 'PIA'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'PIA')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'PIA'
		
			exec @result = q_zu_speedrecon_pia @c_IntrnCoNo,@c_PersSign,@recondate
		End 
		
		If @q_zu_speedrecon_utlevejfakt= '1'
		Begin
			--Print 'Utlev. EJ fakturerat'
				IF EXISTS(Select 1 from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'UTLEVEJFAKT')
			Delete from q_zu_speedrecon_result where foretagkod = @c_IntrnCoNo and perssign = @c_PersSign and q_zu_speedrecon_recondate = @recondate and q_zu_speedrecon_descr = 'UTLEVEJFAKT'
		
			exec q_zu_speedrecon_utlevejfakt  @c_IntrnCoNo,@c_PersSign,@recondate
		End 



		fetch next from crsSpeed into @execdate,@recondate,@q_zu_speedrecon_kundresk, @q_zu_speedrecon_levresk, @q_zu_speedrecon_anlag,@q_zu_speedrecon_inlevejfakt,
		 @q_zu_speedrecon_intlevresk, @q_zu_speedrecon_lager,    @q_zu_speedrecon_lagerflytt, @q_zu_speedrecon_orderunikt, @q_zu_speedrecon_per,
		 @q_zu_speedrecon_pia, @q_zu_speedrecon_utlevejfakt
	End 
	Close crsSpeed deallocate crsSpeed



	--Uppdatera Glamount/differens

	IF (SELECT CURSOR_STATUS('global','crsVR')) >=0 
BEGIN
CLOSE crsVR
DEALLOCATE crsVR
END
	Declare crsVR cursor Fast_forward for
	select  q_zu_speedrecon_ktonr
	from q_zu_speedrecon_result
	where q_zu_speedrecon_recondate = @recondate
		and perssign = @c_PersSign 
	open crsVR
	fetch next from crsVR into @ktonr
	While @@fetch_status=0 
	begin
		--190207
		Select
		@redar_start = DATEADD(DAY, 1, EOMONTH(periodend, -1))
		from per where
		per.foretagkod = @c_IntrnCoNo			
		and redovisnar = @Redar
		and period = 1

--print convert(varchar,@redar_start,112)

		--IB --------------
		Select @sum = isnull(sum (vr.debbel-krebel) ,0)
		from vr
		where foretagkod = @c_IntrnCoNo
			and ktonr = @ktonr
			and redovisnar = @redar
			and period = 0
			And vr.VrUpdateCode=8

		--Perioder ----   190703
		Select @sum = @sum + isnull(sum (vr.debbel-krebel) ,0)
		from vr
		where foretagkod = @c_IntrnCoNo
			and ktonr = @ktonr
			and vr.BokfDat >= @redar_start 
			and vr.BokfDat <= @recondate
			And vr.VrUpdateCode=8
			and vr.period >0



		Update q_zu_speedrecon_result
		set q_zu_speedrecon_glamount = @sum,
			q_zu_speedrecon_diff = isnull(Q_zu_speedrecon_reconamount,0) - @sum
		where foretagkod = @c_IntrnCoNo
			and Q_zu_speedrecon_recondate = @recondate
			and PersSign = @c_PersSign 
			and q_zu_speedrecon_ktonr = @ktonr

		
	

	fetch next from crsVR into @ktonr
	End 
	Close crsVR deallocate crsVR
	
	/*
	End else
	BEgin --cmp all
	-------------------------------
		Declare crssy1 cursor Fast_forward for
		select  q_zu_speedrecon_ktonr
		from q_zu_speedrecon_result
		where q_zu_speedrecon_recondate = @recondate
			and perssign = @c_PersSign 
		open crssy1
		fetch next from crssy1 into @foretagkod
		While @@fetch_status=0 
		begin


	
		

	fetch next from crssy1 into @foretagkod
	End 
	Close crssy1 deallocate crssy1
	
	--------------------------------
	END--cmp all

	***/
END --jvsP
ELSE
BEGIN
	Print 'Funktion EJ aktiverad!'
END




		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
