/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_orderunik]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_orderunik 9900,'jis','180731'
delete from q_zu_speedrecon_result


execute jeeves_OU_PerDen
Resultatet läggs i tabell wou.
Där ska select göras för att använda i tabellen ovan.
Select wou.ktonr, sum(wou.restdelvalueatitemcost) from wou
Where wou.foretagkod=9900	---variabel
And wou.rowcreatedby='jis' ---sql-agentjobb användare
And wou.regdat='20170704'---(datum som sql-agentjobbet körs)
Group by wou.ktonr

Uppdatera tabell enl ovan;
Wou.ktonr=q..ktonr
Sum wou.restdelvalueatitemcost =q..reconamount
Wou.recondate= q..recondate
*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_orderunik]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
		--	@c_fromdat				DATETIME = NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@Redar				SMALLINT,
	@period					SMALLINT,
	@today				varchar(6),
	@fromdat			datetime

	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = CONVERT(varchar,getdate(),12)
	
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT

--Print convert(varchar,@redar) + '' + convert(varchar,@period) + '/' + @today
	-- This is a one line comment, below is a block comment
	

	-- This is a one line comment, below is a block comment
	Select @fromdat =  DATEADD(dd,-730,@c_date)   --zujan 221122 - ska vara 730 istället för 720

	exec jeeves_OU_PerDen
			 @c_FomDat = @fromdat , 
	         @c_PerDenDat = @c_date , 
	         @c_ForetagKod = @c_IntrnCoNo , 
	         @c_PersSign = @c_PersSign 


/***************************''
	s1:='execute jeeves_OU_PerDen '
+ToSQL(DateToSQL(ap_Date-730))
		+','+ToSQL(DateToSQL(ap_Date))
		+','+ToSQL(sy1.ForetagKod)
		+','+ToSQL(sy2.PersSign);

**************************/

	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ktobeskr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod
			,q_zu_speedrecon_descr )
	Select wou.ktonr, 
			ko.KtoBeskr,
			isnull(sum(wou.restdelvalueatitemcost),0),
			recondate,
			wou.perssign,
			wou.foretagkod,
			'ORDERUNIK'
	from wou WITH(READUNCOMMITTED)
	join ko WITH(READUNCOMMITTED) on wou.foretagkod = ko.foretagkod and wou.ktonr = ko.ktonr and year(recondate) = ko.Redovisnar  --zujan 220623 Justering då rättning i std proc - nollar ut wou.redovisnar
	Where wou.foretagkod=@c_intrnCoNo	---variabel
		And wou.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		And wou.regdat=@Today---(datum som sql-agentjobbet körs)
Group by wou.ktonr,ko.ktobeskr,recondate,
			wou.perssign,
			wou.foretagkod

	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
