/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_periodisering]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_periodisering 9900,'jis','180731'
select foretagkod,ftgnamn,* from sy1

delete from q_zu_speedrecon_result


execute Jeeves_Remd_recon_PerDen
Resultatet läggs i tabell remd_recon
select remd_recon.ktonr, sum(remd_recon.allocateremainthisyear*-1) from remd_recon
where remd_recon.foretagkod=9900  ---variabel
and remd_recon.perssign='jis' ---sql-agentjobb användare
and remd_recon.regdat='20170704'	---(datum som sql-agentjobbet körs)
group by remd_recon.ktonr

Uppdatera tabell enl ovan;
Remd_recon.ktonr=q..ktonr
Sum remd_recon.allocatereaminthisyear*-1=q..reconamount
Remd_Recon.period och remd_recon.redovisnar= q..recondate  ---detta programmet – använder inte datum – utan år och period. 
Utifrån detta borde sista datum i perioden kunna joinas mot tabell per.



*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_periodisering]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			--@c_redar				INTEGER = NULL,
			--@c_period				INTEGER = NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION

AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
		@Redar				SMALLINT,
	@period					SMALLINT,
	@today				varchar(6)
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = CONVERT(varchar,getdate(),12)
	
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT

--Print convert(varchar,@redar) + '' + convert(varchar,@period) + '/' + @today
	-- This is a one line comment, below is a block comment
	
	exec Jeeves_Remd_recon_PerDen
			@c_IntrnCoNo =@c_IntrnCoNo,
			@c_Redovisnar =@redar,
			@c_Period =@period,
			@c_PersSign =@c_PersSign


	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			ko.ktobeskr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod 
			,q_zu_speedrecon_descr)
	select remd_recon.ktonr, 
	ko.KtoBeskr,
			isnull(sum(remd_recon.allocateremainthisyear*-1),0),
			@c_date,
			remd_recon.perssign,remd_recon.foretagkod ,
			'PERIOD'
	from remd_recon WITH(READUNCOMMITTED)
	join ko WITH(READUNCOMMITTED) on remd_recon.foretagkod = ko.foretagkod and remd_recon.ktonr = ko.ktonr and remd_recon.Redovisnar = ko.Redovisnar 
	where remd_recon.foretagkod=@c_IntrnCoNo  ---variabel
		and remd_recon.perssign=@c_PersSign ---sql-agentjobb användare
		and remd_recon.regdat=@today	---(datum som sql-agentjobbet körs)
	group by remd_recon.KtoNr,ko.ktobeskr,
			remd_recon.perssign,remd_recon.foretagkod 

	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
