/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_anlaggning]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_anlaggning 9900,'JIS','181124',1

exec q_zu_speedrecon_START 9900, N'JIS', N'181130',1 /*q_zu_speedrecon_start*/
select foretagkod,rowcreateddt,* from q_zu_speedrecon_result q order by q.rowcreateddt desc


delete from q_zu_speedrecon_result where ktobeskr in ('')

delete from q_zu_speedrecon_result
select * from wint

execute jeeves_inv_sal_PerDen
Resultatet läggs i tabell winvt.
Anskaffningsvärde
select intk.ktonr, sum(winvt.perdenanskbelopp) from winvt
join intk on
winvt.foretagkod=intk.foretagkod and
winvt.anlgrp=intk.anlgrp
where winvt.foretagkod=9900  ---variabel
and winvt.rowcreatedby='jis' ---sql-agentjobb användare
and winvt.regdat='181124'	---(datum som sql-agentjobbet körs)
and intk.intfield=0
and intk.redovisnar=2018 ---bör vara det år som är tomdatum i exec
group by intk.ktonr

Uppdatera tabell enl ovan;
intk.ktonr=q..ktonr
Sum winvt.perdenanskbelopp=q..reconamount
Winvt.facheckdate= q..recondate

*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_anlaggning]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL,
			@c_zLanguage			INTEGER = NULL,
			
			-- arguments
			
			@c_DebugMsg NVARCHAR(10) = NULL
WITH ENCRYPTION
AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@redovisnar				INT,
	@Redar				SMALLINT,
	@period					SMALLINT,
	@today					DATETIME
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today =  CONVERT(varchar,getdate(),12)
	
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT

		--Print convert(varchar,@redar) + '' + convert(varchar,@period)

	-- This is a one line comment, below is a block comment
	
	exec jeeves_inv_sal_PerDen
			@c_date,		--@c_PerDenDatum = @c_date,
			@c_IntrnCoNo,	--@c_ForetagKod =
			'+',			--@c_Visa_Inventarie = 
			NULL,
			NULL,
			NULL,
			@c_PersSign ,
			NULL,
			NULL


			/*s1:='execute jeeves_inv_sal_PerDen '
				+ToSQL(DateToSQL(ap_Date))
				+','+ToSQL(sy1.ForetagKod)
				+','+ToSQL('+')
				+',NULL'
				+',NULL'
				+',NULL'
				+','+ToSQL(sy2.PersSign)
				+',NULL'
				+',NULL'+','+ToSQL ( UF_Get_LangCd );*/
/*
		select winvt.regdat,intk.ktonr, 
			sum(winvt.perdenanskbelopp),
			winvt.facheckdate,
			winvt.perssign,
			winvt.foretagkod
	from winvt with(readuncommitted)
		join intk with(readuncommitted)on winvt.foretagkod=intk.foretagkod and winvt.anlgrp=intk.anlgrp
	where winvt.foretagkod=@c_IntrnCoNo  ---variabel
		and winvt.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		and winvt.regdat=@Today	---(datum som sql-agentjobbet körs)
		and intk.intfield=0
		and intk.redovisnar=@redar ---bör vara det år som är tomdatum i exec
	group by winvt.regdat,intk.ktonr,winvt.facheckdate,
			winvt.perssign,
			winvt.foretagkod
			*/
--print convert(varchar,@c_date) + '/' + convert(varchar,@redar)

	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod,
			q_zu_speedrecon_descr,
			ktobeskr )
	select intk.ktonr, 
			sum(winvt.perdenanskbelopp),
			winvt.facheckdate, 
			winvt.perssign,   
			winvt.foretagkod,
			'ANLAG',
			ko.ktobeskr
	from winvt with(readuncommitted)
		join intk with(readuncommitted)on winvt.foretagkod=intk.foretagkod and winvt.anlgrp=intk.anlgrp
		join ko on intk.ForetagKod = ko.ForetagKod  and intk.Redovisnar =ko.Redovisnar and intk.ktonr = ko.ktonr   --181124
	where winvt.foretagkod=@c_IntrnCoNo  ---variabel
		and winvt.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		and winvt.regdat=@today --@c_date	---(datum som sql-agentjobbet körs) --181124
		and intk.intfield =0  --181124
		and intk.redovisnar = @Redar---bör vara det år som är tomdatum i exec
	group by intk.ktonr,winvt.facheckdate, --181124
			winvt.perssign,
			winvt.foretagkod,
			ko.ktobeskr --181124

	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod,
			q_zu_speedrecon_descr,
			ktobeskr )
	select intk.ktonr, 
			isnull(sum(winvt.perdenavskrbelopp),0) * -1,   --181125
			winvt.facheckdate, 
			winvt.perssign,   
			winvt.foretagkod,
			'AVSKR',
			ko.ktobeskr
	from winvt with(readuncommitted)
		join intk with(readuncommitted)on winvt.foretagkod=intk.foretagkod and winvt.anlgrp=intk.anlgrp
		join ko on intk.ForetagKod = ko.ForetagKod  and intk.Redovisnar =ko.Redovisnar and intk.ktonr = ko.ktonr   --181124
	where winvt.foretagkod=@c_IntrnCoNo  ---variabel
		and winvt.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		and winvt.regdat=@today --@c_date	---(datum som sql-agentjobbet körs) --181124
		and intk.intfield = 1  --181124
		and intk.redovisnar = @Redar---bör vara det år som är tomdatum i exec
	group by intk.ktonr,winvt.facheckdate, --181124
			winvt.perssign,
			winvt.foretagkod,
			ko.ktobeskr --181124


			





	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
GO
