/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_CalcPeriod]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/* Start Documentation                                                        */
/******************************************************************************/
/* Procedure CalcPeriod                                                       */
/*                                                                            */
/* Functionality of procedure                                                 */
/*                                                                            */
/*  Ta fram period ur datum inga kontoll mot period status                    */
/*                                                                            */
/*                                                                            */
/* Created by simon, 2002-10-02                                               */
/******************************************************************************/
/* Changes                                                                    */
/******************************************************************************/
/* Change description                                                         */
/*                                                                            */
/* Changed by simon, 2002-                                                    */
/*                                                                            */
/* End Documentation                                                          */
-------------------------------------------------------------------------------
Create procedure [dbo].[q_zu_speedrecon_CalcPeriod]
			@InpDat datetime,
			@CalledFromProcedure SysName,
			@RedovisnAr smallint output,
			@Period smallint output,
			@Just_OrdDat datetime output,
			@c_IntrnCoNo smallint = null

WITH ENCRYPTION

as

SET NOCOUNT ON

declare
	@x int,
	@Wrk_RedovisnAr smallint,
	@Wrk_PrevRedovisnar smallint,
	@Wrk_Period smallint,
	@LastYearPer smallint,
	@Wrk_date datetime,
	@Www_date datetime,
	@PeriodClosed JEEVES_Boolean,
	@BokslutsPeriod JEEVES_Boolean,
	@wr Jeeves_StrVarChar256,
	@PersSign Jeeves_StrVarChar32,
	@dbp int,
	@NewLine Jeeves_StrVarChar2,
	@NewLineTab Jeeves_StrVarChar3


if	@CalledFromProcedure is not NULL begin
	if	ISNUMERIC( @CalledFromProcedure ) = 1 begin
		set @wr = @CalledFromProcedure;
		set @CalledFromProcedure = OBJECT_NAME( cast( @CalledFromProcedure as integer ) );
		if	@CalledFromProcedure is NULL
			set @CalledFromProcedure = @wr;
	end;
end;


select
	@dbp=@@ProcId,
	@NewLine=char(13)+char(10),
	@NewLineTab=char(13)+char(10)+char(9);

declare @Procedure_Name SysName = Object_Name( @@ProcId );
declare @Jeeves_VersionAndDate Jeeves_StrVarChar64 = N'<VERSION X> <Changed date 2015-08-12>';

declare @PgmId Jeeves_StrVarChar2048 = @Procedure_name + '  ' + @Jeeves_VersionAndDate
	+ @NewLineTab + 'inputDate = ' + case when cast( cast( @InpDat as date ) as DateTime ) = @InpDat then coalesce( convert( varchar(10), @InpDat, 121 ), 'NULL' ) else coalesce( convert( varchar(32), @InpDat, 121 ), 'NULL' ) end
	+ @NewLineTab + '@CalledFromProcedure = ' + coalesce( @CalledFromProcedure, 'NULL' )
	+ @NewLineTab + '<%ForetagKod> = ' + coalesce( cast( @c_IntrnCoNo as varchar(10)), 'NULL' );


if @InpDat is NULL
	select @InpDat=CONVERT(char(8),getdate(),112)

if @InpDat <> CONVERT(char(8),@InpDat,112)
begin
	execute JEEVES_Get_Text 405,'Inget bra datum till redovisningen, innehåller timmar och/eller minuter',@wr output
	print @wr + @NewLine + @PgmId;
	select @InpDat=CONVERT(char(8),@InpDat,112)
end

select @Wrk_date = @InpDat


/**** Ta fram redovisningsår & period ****/

select
	@Wrk_Period = Period,
	@Wrk_RedovisnAr=RedovisnAr
		from per with (NoLock) where
	per.ForetagKod = @c_IntrnCoNo and
	Period > 0 and
	BokslutsPeriod='0' and
	PeriodEnd = (select min(PeriodEnd) from per with (NoLock) where
			per.ForetagKod = @c_IntrnCoNo and
			PeriodEnd >= @InpDat and
			Period > 0 and
			BokslutsPeriod='0'
			)

if @Wrk_Period is NULL or @@RowCount = 0
begin
	if (select count(*) from per with (NoLock) WHERE per.ForetagKod = @c_IntrnCoNo ) = 0
	begin
		select
			@RedovisnAr = DATEPART(year,@InpDat),
			@Period = DATEPART(month,@InpDat),
			@Just_OrdDat = @InpDat;
		return 0;
	end;

	declare
		@min_PeriodEnd as date,
		@max_PeriodEnd as date;

	select @min_PeriodEnd = min( PeriodEnd )
			from per with (NoLock) where
		per.ForetagKod = @c_IntrnCoNo and
		per.Period > 0 and
		per.BokslutsPeriod='0';

	select @max_PeriodEnd = max( PeriodEnd )
			from per with (NoLock) where
		per.ForetagKod = @c_IntrnCoNo and
		per.Period > 0 and
		per.BokslutsPeriod='0';

	if	exists ( select 1 from per with (NoLock) where
					per.ForetagKod = @c_IntrnCoNo and
					per.PeriodEnd = @min_PeriodEnd and
					per.Period > 0 and
					per.BokslutsPeriod='0'
						and
					per.Period = DATEPART( MONTH, per.PeriodEnd )
					)
			and
		exists ( select 1 from per with (NoLock) where
					per.ForetagKod = @c_IntrnCoNo and
					per.PeriodEnd = @max_PeriodEnd and
					per.Period > 0 and
					per.BokslutsPeriod='0'
						and
					per.Period = DATEPART( MONTH, per.PeriodEnd )
					)
	begin
		select
			@RedovisnAr = DATEPART(year,@InpDat),
			@Period = DATEPART(month,@InpDat),
			@Just_OrdDat = @InpDat;
		return 0;
	end;		--	select RedovisnAr, Period, PeriodEnd from per where ForetagKod = 10;


	execute JEEVES_Get_Text 3373,'Ingen bra period till redovisningen ...',@wr output
	print @wr + @NewLine + @PgmId;
	select
		@RedovisnAr=NULL,
		@Period=NULL,
		@Just_OrdDat=NULL;
	--execute Jeeves_RaisError 0, @wr;
	return -101;
end;


select @Wrk_PrevRedovisnar = max(redovisnar) from per with (NoLock) where
							ForetagKod = @c_IntrnCoNo and
							redovisnar <> @Wrk_Redovisnar and
							bokslutsperiod = '0' and
							periodend = (select max(periodend) from per with (NoLock) where
										ForetagKod = @c_IntrnCoNo and
										redovisnar <> @Wrk_Redovisnar  and
										bokslutsperiod = '0' and
										periodend < ( select min(periodend)
													from per with (NoLock)
													where
													ForetagKod = @c_IntrnCoNo and
													Redovisnar = @Wrk_Redovisnar  and
													BokslutsPeriod = '0' ) )

if @Wrk_PrevRedovisnar is NULL select @Wrk_PrevRedovisnar=@Wrk_Redovisnar-1

/** Ska datum flyttas fram till öppen period **/
if @Wrk_Period > 1
begin

  if (select count(*) from per with (NoLock) where
		per.ForetagKod = @c_IntrnCoNo and
		RedovisnAr=@Wrk_RedovisnAr and
		Period=@Wrk_Period-1 and
		PeriodEnd >= @InpDat) > 0
  begin
    select @Www_date = PeriodEnd from per with (NoLock) where
			per.ForetagKod = @c_IntrnCoNo and
			RedovisnAr=@Wrk_RedovisnAr and
			Period=@Wrk_Period-1
    select @Wrk_date=DATEADD(day,1,@Www_date)

    execute JEEVES_Get_Text 3373,'Ingen bra period till redovisningen ...',@wr output
    select @wr=@wr+@NewLine+CONVERT(nvarchar(30),@InpDat,112)+@NewLine
    execute JEEVES_Add_Text 1204,'Datum ändrad till',@wr,@wr output
    select @wr=@wr+space(1)+CONVERT(char(8),@Wrk_date,112)+@NewLine
    execute JEEVES_Add_Text 117,'Anropad från procedure',@wr,@wr output
    select @wr=@wr+space(1)+coalesce( @CalledFromProcedure, 'NULL' )
    print @wr
  end

end


/** Ska datum flyttas fram till öppen period för period 1 **/
if @Wrk_Period = 1
begin

  select @LastYearPer=max(Period) from per with (NoLock) where
		per.ForetagKod = @c_IntrnCoNo and
		Redovisnar = @Wrk_PrevRedovisnar and
		Period > 0 and
		BokslutsPeriod='0'

  if (select count(*) from per with (NoLock) where
		per.ForetagKod = @c_IntrnCoNo and
		RedovisnAr=@Wrk_PrevRedovisnar and
		Period= @LastYearPer and
		PeriodEnd >= @InpDat) > 0
  begin
    select @Www_date = PeriodEnd from per with (NoLock) where
			per.ForetagKod = @c_IntrnCoNo and
			RedovisnAr=@Wrk_PrevRedovisnar  and
			Period=@LastYearPer

    select @Wrk_date=DATEADD(day,1,@Www_date)

    execute JEEVES_Get_Text 3373,'Ingen bra period till redovisningen ...',@wr output
    select @wr=object_name(@dbp)+@NewLine+
			@wr+@NewLine+
			CONVERT(nvarchar(30),@InpDat,112)+@NewLine
    execute JEEVES_Add_Text 1204,'Datum ändrad till',@wr,@wr output
    select @wr=@wr+space(1)+CONVERT(char(8),@Wrk_date,112)+@NewLine
    execute JEEVES_Add_Text 117,'Anropad från procedure',@wr,@wr output
    select @wr=@wr+space(1)+coalesce( @CalledFromProcedure, 'NULL' )
    print @wr
  end

end

select
	@Wrk_RedovisnAr as redovisnar,
	@Wrk_Period As period,
	@Wrk_Date as Just_orddat

return 0

GO
