/****** Object:  StoredProcedure [dbo].[q_zu_speedrecon_avskrivning]    Script Date: 3/19/2020 7:56:30 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*
**------------------------------------------------------------------
** Function...: <Describe the functionality>
** Created by.: Mikael Asklid, ZeeU AB
** Date.......: <YYMMDD>
** Called by..: Macro: / Stored procedure: / Trigger: / Report: / SQL Job: <object name>
** Written for: <CUSTOMER>
** Changes....: <ÄB#/Activity/Support Request No.> Created (Applied to production: <YYMMDD>)
** <YYMMDD>	<SIGN>	<ÄB#/Activity/Support Request No.> <Description of change> (Applied to production: <YYMMDD>)
**------------------------------------------------------------------
exec q_zu_speedrecon_avskrivning 9900,'jis','180731'
delete from q_zu_speedrecon_result
select * from q_zu_speedrecon_result


select intk.ktonr, sum(winvt.perdenanskbelopp) from winvt
join intk on
winvt.foretagkod=intk.foretagkod and
winvt.anlgrp=intk.anlgrp
where winvt.foretagkod=9900  ---variabel
and winvt.rowcreatedby='jis' ---sql-agentjobb användare
and winvt.regdat='180909'	---(datum som sql-agentjobbet körs)
and intk.intfield=1
and intk.redovisnar=2018 ---bör vara det år som är tomdatum i exec
group by intk.ktonr

Uppdatera tabell enl ovan;
intk.ktonr=q..ktonr
Sum winvt.perdenanskbelopp=q..reconamount
Winvt.facheckdate= q..recondate


*/
CREATE PROCEDURE [dbo].[q_zu_speedrecon_avskrivning]
			@c_IntrnCoNo			SMALLINT = NULL,
			@c_PersSign				NVARCHAR(30) = NULL,
			@c_date					DATETIME =NULL
			--,			@c_redar				INTEGER = NULL,
			,@c_zLanguage			INTEGER = NULL
			
			-- arguments
			
			,@c_DebugMsg NVARCHAR(10) = NULL

WITH ENCRYPTION
AS

SET NOCOUNT ON
SET ROWCOUNT 0

DECLARE	@Enter_TranCount INTEGER
SET @Enter_TranCount = @@TRANCOUNT

DECLARE
	@Procedure_Name			SYSNAME,
	@PgmId					NVARCHAR (1000),
	@catch_ERROR_NUMBER				INTEGER,
	@catch_ERROR_MESSAGE			NVARCHAR(4000),
	@Redar				SMALLINT,
	@period					SMALLINT,
	@today				varchar(6)
	
	
BEGIN TRY
	SELECT @Procedure_Name = OBJECT_NAME(@@PROCID);
	select @today = CONVERT(varchar,getdate(),12)
	
	-- This is a one line comment, below is a block comment
	exec CalcPeriod
		@InpDat = @c_date,
		@CalledFromProcedure = NUll,
		@Just_orddat = NULL,
		@c_intrnCoNo = @c_IntrnCoNo,
		@Redovisnar = @Redar OUTPUT,
		@Period = @Period OUTPUT
--Print convert(varchar,@redar) + '' + convert(varchar,@period) + '/' + @today
	
	-- This is a one line comment, below is a block comment
	
	

	Insert into q_zu_speedrecon_result(
			q_zu_speedrecon_ktonr,
			Q_zu_speedrecon_reconamount,
			Q_zu_speedrecon_recondate,
			perssign,
			foretagkod,
			q_zu_speedrecon_descr,
			ktobeskr )
	select intk.ktonr, 
			isnull(sum(winvt.perdenavskrbelopp),0) * -1,   --181125
			winvt.facheckdate, 
			winvt.perssign,   
			winvt.foretagkod,
			'ANLAVSKR',
			ko.ktobeskr
	from winvt with(readuncommitted)
		join intk with(readuncommitted)on winvt.foretagkod=intk.foretagkod and winvt.anlgrp=intk.anlgrp
		join ko with(readuncommitted) on intk.ForetagKod = ko.ForetagKod  and intk.Redovisnar =ko.Redovisnar and intk.ktonr = ko.ktonr   --181124
	where winvt.foretagkod=@c_IntrnCoNo  ---variabel
		and winvt.rowcreatedby=@c_PersSign ---sql-agentjobb användare
		and winvt.regdat=@today --@c_date	---(datum som sql-agentjobbet körs) --181124
		and intk.intfield = 1  --181124
		and intk.redovisnar = @Redar---bör vara det år som är tomdatum i exec
	group by intk.ktonr,winvt.facheckdate, --181124
			winvt.perssign,
			winvt.foretagkod,
			ko.ktobeskr --181124


	--select regdat from reav where foretagkod = 9910
	--select * from q_zu_speedrecon_result 
		
END TRY
BEGIN CATCH
			--<TAG_Catch_Begin
		IF @@TranCount > 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		EXECUTE Jeeves_Catch_SPR_Error
				@catch_ERROR_NUMBER OUTPUT,
				@catch_ERROR_MESSAGE OUTPUT,
				@Procedure_Name,
				@PgmId,
				NULL,
				@c_IntrnCoNo,
				@c_PersSign,
				@c_zLanguage,
				NULL
		WHILE @@TranCount < @Enter_TranCount
			BEGIN TRANSACTION
		SELECT @catch_ERROR_MESSAGE = REPLACE(@catch_ERROR_MESSAGE,'%','')
		RAISERROR(@catch_ERROR_MESSAGE,16,1)
		RETURN -100
		--<TAG_Catch_End

END CATCH

RETURN 0
/******


select intk.ktonr, 
			sum(winvt.perdenanskbelopp),
			facheckdate,
			winvt.perssign,
			winvt.foretagkod
	from winvt
		join intk on winvt.foretagkod=intk.foretagkod and winvt.anlgrp=intk.anlgrp
	where winvt.foretagkod=9900  ---variabel
		and winvt.rowcreatedby='jis' ---sql-agentjobb användare
		and winvt.regdat='180909'	---(datum som sql-agentjobbet körs)
		and intk.intfield=1
		and intk.redovisnar=2018 ---bör vara det år som är tomdatum i exec
		group by intk.ktonr,winvt.perssign,winvt.foretagkod,winvt.facheckdate



******/
GO
